@import "./variables.css";
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    
}
@media (min-width: 809px) {
    html{
        font-size: 14px;
        
    }
  }
@media (min-width: 1809px) {
    html{
        font-size: 14px;
        
    }
  }
body{
    background-color: var(--h-dark-blue);
    border: unset;
    outline: none;
}
/* div {
    border: solid 1px red;
} */
body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background: var(--dark-blue);
}

body::-webkit-scrollbar-thumb{
    background: var(--light-blue);
}